.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

h1{
  text-align: center;
}

.table .thead{
  background-color: lightcyan;
  text-align: center;
}
